.navbar_sec{ 
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: red;
.left_solution{
   a{ color: white;}
}
.right_se{ 
        display: flex;
          li{ padding-left: 16px;
        a{
        color: white;
        }   
        }
   
    }
}